{% extends "base.html" %} {% block title %}О диспансере - Онкологический
диспансер{% endblock %} {% block content %}
<section>
  <div class="container" style="text-align: center">
    <h2>Контакты</h2>
    <p><strong>По всем вопросам звоните:</strong> +7 (4242) 76-23-24</p>
    <p><strong>Адрес:</strong> Максима Горького ул. 3, Южно-Сахалинск</p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9160.968674787517!2d142.74346188224524!3d46.950444922289286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f19aa7660bc6141%3A0x4f65dc0176b9ce3a!2z0KHQsNGF0LDQu9C40L3RgdC60LjQuSDQvtCx0LvQsNGB0YLQvdC-0Lkg0L7QvdC60L7Qu9C-0LPQuNGH0LXRgdC60LjQuSDQtNC40YHQv9Cw0L3RgdC10YA!5e0!3m2!1sru!2str!4v1745421217813!5m2!1sru!2str"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
{% endblock %}
