{% extends "base.html" %} {% block title %}О диспансере - Онкологический
диспансер{% endblock %} {% block content %} {% load static %} <link
rel="stylesheet" href="{% static "css/main.css" %}">
<section>
  <img src="{% static "photo/main-bg.jpg" %}" alt="banner" class="top-banner">
  <div class="container">
    <h2>О диспансере</h2>
    <p>
        ГБУЗ «Сахалинский областной клинический онкологический диспансер» это
        учреждение, оказывающее специализированную, в том числе высокотехнологичную
        медицинскую помощь онкологическим больным Сахалинской области.
    </p>
    <p>
        В настоящее время диспансер оснащен современным лечебно-диагностическим
        оборудованием, которое соответствует высоким мировым стандартам, позволяющим
        оказывать качественную высокотехнологичную медицинскую помощь нашим
        пациентам. Диспансер поддерживает тесную связь в организации лечения с
        федеральными онкологическими центрами МНИОИ им. П.А. Герцена, ФГБУ «НМИЦ
        онкологии им. Н.Н. Блохина» Минздрава России.
    </p>
    <p>
        Методики лечения онкологических заболеваний выполняются в соответствии с
        общероссийскими стандартами и дают возможность лечить онкозаболевания на
        ранних и поздних стадиях. На сегодняшний день имеются современные
        химиотерапевтические и обезболивающие препараты, не уступающие зарубежным
        аналогам и позволяющие лечить и поддерживать жизнь онкологических больных на
        качественном уровне. Врачи онкодиспансера осуществляют кураторство лечебных
        учреждений Сахалинской области по вопросам диагностики, лечения и
        обезболивания онкологических пациентов.
    </p>
    <p>
        Помощь всем онкологическим больным Сахалинской области осуществляется в
        рамках обязательного медицинского страхования и оказывается совершенно
        бесплатно. Кроме того, для всех пациентов нашего региона предусмотрен
        бесплатный проезд до места обследования и лечения, предоставляемый органами
        социальной защиты (при наличии подтверждающих документов).
    </p>
    </section>
</div>
{% endblock %}
