main {
    padding: 0;
    margin: 0;
}

.top-banner {
    width: 100%;
    height: 30vh;
    /* margin-top: 0.5rem; */
    object-fit: cover;
    display: block;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
